@use "@/styles/_variables.scss" as variables;

.login__link {
    justify-self: center;
    display: block;
    margin: 20px 0 0 0;
    font-size: variables.$font-size-m;
    color: variables.$color-primary;
}