@use "@/styles/mixins/_media.scss" as *;
@use "@/styles/mixins/_content.scss" as *;

.question {
  @include content();
}

.question__loading {
  align-self: center;
  margin: auto;
  font-size: 26px;
}

.question__block {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  height: fit-content;
  display: flex;
  gap: 15px;
  flex-direction: column;
  overflow: hidden;

  @include media(600px) {
    font-size: 18px;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media(550px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}
.question__info-wrapper--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  & svg {
    width: 70px;
    height: 70px;
  }
}

.question__info-wrapper--left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & p {
    font-size: 18px;
    color: #969696;
  }
}

.question__info-wrapper--right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;

    @include media(550px) {
        flex-direction: row;
        justify-content: space-between;
    }

  & a {
    align-self: end;
  }

  & svg {
    width: 30px;
    height: 30px;
  }
}

p.question__info-status {
  font-size: 22px;
  color: #969696;
}

.question__answer-container {
  margin: 15px 0;
  padding: 10px;
  background-color: #f0f0f0;
  width: 70%;
  border-bottom: 2px solid #1976d2;
  font-size: 20px;
  box-sizing: border-box;

  @include media(600px) {
    width: 100%;
  }
}

.question__answer-text {
  display: block;
  color: #333;
  line-height: 1.5;
  padding: 0 0 30px 0;
}

.question__answer-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #8d8d8d;
}

.question__add-answer-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  margin: 20px 0 0 0;
  font-size: 20px;
  width: 70%;

  @include media(600px) {
    width: 100%;
  }

  & textarea,
  & label {
    font-size: 20px;
  }
}

.question__text--solution {
    color: #2e7d32;
}