@use "@/styles/mixins/_content.scss" as *;
@use "@/styles/variables" as variables;

.user-snippets {
  @include content();
}

.user-snippets__message {
  align-self: center;
  font-size: variables.$font-size-xxl;
  text-align: center;
}
