$color-primary:  #006ccb;
$color-success: #388e3c;
$color-error: #d32f2f;
$color-black: #000000;
$color-white: #ffffff;
$color-border: #969696;
$color-light-border: rgb(218, 218, 218);
$color-background-gray: #f0f0f0;
$color-text-gray: #8d8d8d;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 26px;
