@use "@/styles/mixins/_media.scss" as *;
@use "@/styles/mixins/_content.scss" as *;
@use "@/styles/_variables.scss" as variables;

.question {
  width: 100%;
  box-sizing: border-box;
  font-size: variables.$font-size-xl;
  height: fit-content;
  display: flex;
  padding: 20px;
  gap: 15px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid variables.$color-border;
  overflow: hidden;

  @include media(600px) {
    font-size: variables.$font-size-l;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media(550px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: row;
        align-items: center;
    gap: 10px;

    & svg {
      width: 70px;
      height: 70px;
    }
  }

  &__info-title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & p {
      font-size: variables.$font-size-l;
      color: variables.$color-border;
    }
  }

  &__info-status {
    color: variables.$color-border;
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}