@use "@/styles/mixins/_media.scss" as *;
@use "@/styles/_variables.scss" as variables;

.edit-profile-forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 100px;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid variables.$color-light-border;
  font-size: variables.$font-size-xl;

  @include media(1040px) {
    margin: 0;
    padding: 20px;
  }

  &__title {
    text-decoration: underline;
    font-style: italic;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 40px;

    @include media(1040px) {
      flex-direction: column;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  &__success-message {
    color: variables.$color-success;
  }
}
