@use "@/styles/mixins/_media.scss" as *;
@use "@/styles/mixins/_content.scss" as *;
@use "@/styles/variables" as variables;

.user-info {
  margin: 20px 0 0 0;
  @include content();
}

.user-info__loading {
  align-self: center;
  margin: auto;
  font-size: variables.$font-size-xxl;
}