@use "@/styles/variables" as variables;

.footer {
  background-color: variables.$color-primary;
  color: variables.$color-white;
  padding: 32px 0;
  text-align: center;
  font-size: variables.$font-size-m;
  margin-top: auto;
}

.footer__container {
  margin: 0 auto;
}

.text {
  margin: 0;
}
