@use "@/styles/mixins/_media.scss" as *;
@use "@/styles/mixins/_content.scss" as *;

.snippet {
  @include content();
}

.snippet__loading {
  align-self: center;
  margin: auto;
  font-size: 26px;
}

.snippet__comment-container {
  margin: 15px 0;
  padding: 10px;
  background-color: #f0f0f0;
  width: 70%;
  border-bottom: 2px solid #1976d2;
  font-size: 20px;
  box-sizing: border-box;

  @include media(600px) {
    width: 100%;
  }
}

.snippet__comment-text {
  display: block;
  color: #333;
  line-height: 1.5;
  padding: 0 0 30px 0;
}

.snippet__comment-author {
  font-size: 0.9em;
  color: #8d8d8d;
}

.snippet__add-comment-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  margin: 20px 0 0 0;
  font-size: 20px;
  width: 70%;

  @include media(600px) {
    width: 100%;
  }

  & textarea,
  & label {
    font-size: 20px;
  }
}
